<h2>Twyts:</h2>
<% @twyt_list.each do |twyt| %>
<div class = 'feedtweet'>
      <div class = 'tweethead'>
        <div class = 'tweetuser'>
         From: <%= twyt.user %>
        </div>
        <div class = 'retweet'>
          <form action='/twyt' method='post'>
          <input type='hidden' name='twyt' value='RT @<%= twyt.user %>: <%= twyt.message %>'>
          </form>
          <input type='submit' value='Retweet'>
        </div>
      </div>
    <div class = 'tweetmessage'>
      <p>Message: <%=twyt.message%></p>

    </div>
</div>
<% end %>
