<h2>Twyts:</h2>
<% @twyt_list.each do |twyt| %>
  Username: <%= twyt.user %><br>
  Message: <%=twyt.message%><br>
  <form action='/twyt' method='post'>
    <input type='hidden' name='twyt' value='RT @<%= twyt.user %>: <%= twyt.message %>'>
    <input type='submit' value='Retweet'>
  </form><br>
<% end %>
